<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io-client/dist/socket.io.js" ></script>
  </head>
  <body>
  <div class="row">
    <div class="col-2">
    <div class="card">
    <div class="card-header row"><span class="col baslik card-title">Notlarım</span> <button class="btn  btn-primary col" type="submit">Not Ekle</button><button class="btn  btn-danger col" type="submit">Not Sil</button></div>
    <div class="card-body"></div>


  </div>
  </div>
  <div class="col-7">
      <div class="card">
        <div class="card-header row"><span class="col baslik card-title">İcerik</span> <button class="btn  btn-secondary col-1" type="submit">Commit ET</button></div>
        <div class="card-body"></div>
      </div>
  </div>
    <div class="col-3">
      <div class="card">
        <div class="card-header row "><span class="baslik card-title">Gecmis</span></div>
        <div class="card-body"></div>
      </div>
  </div>
  </div>
  <script src="./jquery/jquery.min.js"></script>
  <script src="./css/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="./jquery-easing/jquery.easing.min.js"></script>
  </body>
</html>
